@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
.warna-bg
{
	background: linear-gradient(to right, rgba(91,134,229, .92), rgba(54,209,220, .92));
}

.jumbotron-bg
{
	background-size: cover;
	background: url(img/bg.jpg);
	background-size: 300px;
}

.jumbotron-bg h1
{
    font-family: 'Poppins', sans-serif;
}

/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/
.card-img-top {
    /*height: 11vw;*/
    object-fit: cover;
}
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .card-img-top {
        height: 19vw;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card-img-top {
        height: 16vw;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
    }
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
    }
  }

.list-group
{
    padding-bottom: 20px;
}

.text-primary {
    color: #007bff!important;
}

.jumbotron h2 {
    color: #fff;
}

/*---DARK MODE TOGGLE---*/

[data-theme="dark"] {
    background-color: #222 !important;
    color: #fff;
}

[data-theme="dark"] .navbar {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .navbar a {
    color: #fff !important
}

[data-theme="dark"] .navbar-nav a {
    color: #fff !important;
}

[data-theme="dark"] .jumbotron-bg {
    background-size: cover;
	background: url(img/bg.jpg);
	background-size: 300px;
}

[data-theme="dark"] .breadcrumb {
    background-color: #303030 !important;
}

[data-theme="dark"] .breadcrumb h6 {
    color: #eee !important;
}

[data-theme="dark"] .card {
    background-color: #303030 !important;
    border: 1px solid rgba(0 ,0 ,0, 0.125);
}

[data-theme="dark"] .pagination .page-item a {
    background-color: #303030 !important;
}

[data-theme="dark"] .warna-bg {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

[data-theme="dark"] .jumbotron h2 {
    color: #ffffff !important;
}

[data-theme="dark"] .text-primary {
    color: #fff !important;
}

[data-theme="dark"] .card-body h6 {
    color: #c061ff !important;
}

[data-theme="dark"] .navbar-toggler {
    background-color: #303030 !important;
}

[data-theme="dark"] .card-body {
    background-color: #303030 !important;
}